# Data Input and Output

In [1]:
import pandas as pd

### Reading CSV files

In [5]:
df = pd.read_csv('example')

In [6]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### Creating CSV files using DataFrames

In [7]:
df.to_csv('my_output', index=False)

### Reading Excel spreadsheets

In [11]:
pd.read_excel('Excel_Sample.xlsx', sheet_name='Sheet1')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

### Writing Excel spreadsheets using DataFrames

In [12]:
df.to_excel('excel_sample2.xlsx', sheet_name='NewSheet')

### Using SQL with Python

In [15]:
from sqlalchemy import create_engine

In [16]:
engine = create_engine('sqlite:///:memory:')

In [18]:
df.to_sql('my_table', engine)

4

In [19]:
sqldf = pd.read_sql('my_table', con=engine)

In [20]:
sqldf

   index   a   b   c   d
0      0   0   1   2   3
1      1   4   5   6   7
2      2   8   9  10  11
3      3  12  13  14  15